[Unit]
Description="drone setup local service"

[Service]
Type=simple
WorkingDirectory=/home/pi/dev/py/burn
ExecStart=/usr/bin/python /home/pi/dev/py/burn/burn.py

[Install]
WantedBy=default.target
