[Unit]
Description="drone setup local service"

[Service]
Type=simple
WorkingDirectory=/home/drb/dev/py/burn
ExecStart=/usr/bin/python2 /home/drb/dev/py/burn/burn.py

[Install]
WantedBy=default.target
