[Unit]
Description="drone setup local service"

[Service]
Type=simple
WorkingDirectory=/home/alarm/dev/py/gamma-collector
ExecStart=/usr/bin/python2 /home/alarm/dev/py/gamma-collector/gammad.py

[Install]
WantedBy=default.target
