[Unit]
Description="My setup service"

[Service]
Type=simple
WorkingDirectory=/home/drb/dev/py/burn
#ExecStart=/home/drb/mysetup.sh
#ExecStart=/usr/bin/env python2 /home/drb/dev/py/burn/burn.py
ExecStart=/home/drb/dev/py/burn/start-burn.sh

[Install]
WantedBy=default.target
